@import "tailwindcss";

@theme {
  --color-primary: #017AAB;
  --color-primary-dark: #016490;
  --color-accent: #e74c3c;
  --color-beige: #d4c5a0;
  --color-beige-light: #e8dcc4;
  --font-family-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
}
